/* Blood.css */

.blood-container {
    position: relative;
  }
  
  .blur-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
  }
  
  .popup-container {
    position: absolute;
    top: 18%;
    left: 58%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 46px rgba(0, 0, 0, 2.2);
}
  .popup-content {
    /* Add this style to allow interaction with input fields */
    pointer-events: auto;
  }
  