.nimg { position: relative;

}

.bodyimg {
    position: absolute;
    top: 240px  ;
    left: 200px;
    color: white;
    font-weight :700 ;
    width:600px ;
}

.listDonation{
    display: flex;
    gap: 50px;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
}

.cardDonation{
    display: flex;
    gap: 10px;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 400px;
    background-color: rgb(176, 245, 245);
}

.carddimg{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-top: 20px;
}

.NameDonation{
    font-size: 18px;
    color: rgb(46, 44, 44);
    font-weight: 600;
}

.TopOne{
    font-size: 18px;
    color: rgb(46, 44, 44);
}
