/* Sidebar.css */
.sidebar {
    display: flex;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    left: -250px; /* Initially hide the sidebar off-screen */
    overflow-y: auto;
    transition: left 0.3s ease; /* Add smooth transition */
  }
  
  .sidebar.open {
    left: 0; /* Show the sidebar */
  }
  
  .sidebar-header {
    padding: 20px;
    text-align: center;
  }
  
  .toggle-button {
    background: none;
    border: none;
    color: white;
    font-size: 1em;
    cursor: pointer;
  }
  
  .sidebar-menu {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar-menu li {
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .sidebar-menu li:hover {
    background-color: #555;
  }
  